pre {
	display:block;
	color:#DDD;
	background-color:#555;
	padding:15px;
	font-family:monospace;
	margin-top:30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
code {
	font-family:monospace;
}
em {
	font-style:normal;
	font-weight:600;
	color: #e9463c;
}
blockquote {
	text-align:right;
}
blockquote cite:before {
	color: #aaa;
	content: '- ';
	font-size:32px;
	position:relative;
	top:2px;
}
blockquote cite {
	text-align:right;
	display: block;
	padding-top: 35px;
	font-size:30px;
}
blockquote:before {
	color: #aaa;
	content: '\201C';
	font-size:82px;
}

.step.rollback { opacity:0; }
.step.cap-diagram { opacity:0; }

.step p { margin-top:30px; }

small {
	font-size: 0.5em;
}

h2 {
	margin-top:40px;
	font-size:1.2em;
	font-weight:600;
}

ul li {
	list-style: square;
	margin-left:100px;
	padding-top:30px;
}

.step {
	font-size:36px;
}

.fa {
	font-family: 'FontAwesome';
}

#title h1 {
	border-top: solid 2px #e9463c;
	border-bottom: solid 2px #e9463c;
	text-transform: uppercase;
	text-align:left;
	font-size:124px;
	line-height:1em;
}
#credits {
	border-top: solid 2px #e9463c;
	border-bottom: solid 2px #e9463c;
	text-align:center;
}

#title h1 .article {
	display:inline-block;
	font-size:50%;
}
#title h1 .adj {
	display:inline-block;
	padding-top:30px;
	font-size:140%;
	color: #e9463c;
}
#title h1 .noun {
	display:inline-block;
	font-size:50%;
	padding-bottom:30px;
}

#title .subtitle {
	text-align:right;
	padding-top:15px;
}

#author .avatar {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
	height: 250px;
	width: 250px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-image: url('http://jondavidjohn.com/content/themes/jdjcom/assets/img/profile.jpg');
	background-size: 250px 250px;
}

#author .left {
	width:400px;
	padding-bottom:100px;
	float:left;
}
#author .right {
	width:700px;
	float:right;
	margin-top:95px;
}
#author ul {
	margin-left:-30px;
}
#author li a { text-decoration:none; }
#author li {
	list-style:none;
}
#author li:before {
	font-family:'FontAwesome';
	padding-right:20px;
	font-size:48px;
}
#author li.twitter:before {
	content:'\f099';
	position: relative;
	top: 7px;
}
#author li.github:before {
	content:'\f09b';
	position: relative;
	top: 7px;
}
#author li.stackoverflow:before {
	content:'\f16c';
}
#author li.link:before {
	content:'\f0c1';
	font-size:40px;
}

#jargon li {
	margin-left:120px;
	padding:40px;
	list-style:none;
}
#jargon li.scm {
	position:relative;
	left:24px;
}
#jargon li:before {
	font-family: 'FontAwesome';
	font-size: 1.3em;
	position:relative;
	text-align:left;
	top:5px;
	padding-right:30px;
}

#jargon li.ftp:before {
	content:'\F0EE';
}
#jargon li.scm:before {
	content:'\F126';
	left:-12px;
}

.deploy {
	position:relative;
}

.deploy .start  {
	position: absolute;
	top: -400px;
	left: 300px;
	font-size: 640px;
	color:#BBB;
	transform: scale(1.5, 1.1);
	-webkit-transform: scale(1.5,1.1);
	-moz-transform: scale(1.5,1.1);
}

.deploy .inner {
	position: absolute;
	top: -190px;
	left: 211px;
}

.deploy .inner p {
	padding-left: 370px;
	padding-right: 210px;
	padding-top: 30px;
}

.deploy .inner .ftpwindow {
	font-size: 238px;
	position: absolute;
	left: 100px;
	top: -52px;
}

.deploy.last .cloud {
	position: absolute;
	top: -400px;
	left: 300px;
	font-size: 640px;
	color:#BBB;
}

.deploy.last .smile {
	position: absolute;
	top: -170px;
	left: 460px;
	font-size: 360px;
	color:#099C43;
	opacity:0;
	transition: opacity 1s ease-in-out;
	transition-delay: 1s;
	-moz-transition: opacity 1s ease-in-out;
	-moz-transition-delay: 1s;
	-webkit-transition: opacity 1s ease-in-out;
	-webkit-transition-delay: 1s;
}

.deploy.last.active .smile {
	opacity:1;
}

.deploy.last .smile.frown {
	color:#e9463c;
}

.deploy.cap-diagram {
	position:relative;
}

.deploy.cap-diagram > div {
	position:absolute;
}
.deploy.cap-diagram > div h2 {
	border-bottom:solid 5px;
	padding-bottom:5px;
	margin-bottom:5px;
}

.deploy.cap-diagram .shared {
	top:-300px;
	left:0px;
}
.deploy.cap-diagram .shared li {
	padding-top:70px;
	font-size:18px;
}

.deploy.cap-diagram .lines div {
	position:absolute;
	height:1px;
	border-top:dashed 5px #e9463c;
}

.deploy.cap-diagram .lines div.shared-release-1 {
	top: -110px;
	left: 200px;
	width: 260px;
	-webkit-transform: rotate(12deg);
}

.deploy.cap-diagram .lines div.shared-release-2 {
	top: 80px;
	width: 545px;
	-webkit-transform: rotate(47deg);
}

.deploy.cap-diagram .lines div.shared-release-3 {
	top: -11px;
	left: 134px;
	width: 360px;
	-webkit-transform: rotate(36deg);
}

.deploy.cap-diagram .lines div.current-1 {
	top: 6px;
	left: 710px;
	width: 247px;
	-webkit-transform: rotate(-8deg);
}

.deploy.cap-diagram .lines div.current-2 {
	top: 97px;
	left: 674px;
	width: 322px;
	-webkit-transform: rotate(-42deg);
}

.deploy.cap-diagram .releases {
	top:-300px;
	left:450px;
}
.deploy.cap-diagram .releases .release {
	padding-left:30px;
	padding-top:40px;
}
.deploy.cap-diagram li.symlink {
	color:#e9463c;
}
.deploy.cap-diagram li {
	padding:0px;
	padding-top:10px;
	padding-left:30px;
	margin:0px;
	font-size: 13px;
	list-style:none;
}

.deploy.cap-diagram .www {
	top:-50px;
	left:1000px;
}
.deploy.cap-diagram .www h2 {
	border:none;
	color:#e9463c;
}
