em {
	font-style:normal;
	font-weight:600;
	color: #e9463c;
}
blockquote {
	text-align:right;
}
blockquote cite:before {
	color: #aaa;
	content: '- ';
	font-size:32px;
	position:relative;
	top:2px;
}
blockquote cite {
	text-align:right;
	display: block;
	padding-top: 35px;
	font-size:30px;
}
blockquote:before {
	color: #aaa;
	content: '\201C';
	font-size:82px;
}

.step.rollback { opacity:0; }

h2 {
	margin-top:40px;
	font-size:1.2em;
	font-weight:600;
}

ul li {
	list-style: square;
	margin-left:100px;
	padding-top:30px;
}

.step {
	font-size:36px;
}

.fa {
	font-family: 'FontAwesome';
}

#title h1 {
	border-top: solid 2px #e9463c;
	border-bottom: solid 2px #e9463c;
	text-transform: uppercase;
	text-align:left;
	font-size:124px;
	line-height:1em;
}

#title h1 .article {
	display:inline-block;
	font-size:50%;
}
#title h1 .adj {
	display:inline-block;
	padding-top:30px;
	font-size:140%;
	color: #e9463c;
}
#title h1 .noun {
	display:inline-block;
	font-size:50%;
	padding-bottom:30px;
}

#title .subtitle {
	text-align:right;
	padding-top:15px;
}

#jargon li {
	margin-left:120px;
	padding:40px;
	list-style:none;
}
#jargon li.scm {
	position:relative;
	left:24px;
}
#jargon li:before {
	font-family: 'FontAwesome';
	font-size: 1.3em;
	position:relative;
	text-align:left;
	top:5px;
	padding-right:30px;
}

#jargon li.ftp:before {
	content:'\F0EE';
}
#jargon li.scm:before {
	content:'\F126';
	left:-12px;
}

.deploy {
	position:relative;
}

.deploy .start  {
	position: absolute;
	top: -400px;
	left: 300px;
	font-size: 640px;
	color:#BBB;
	transform: scale(1.5, 1.1);
	-webkit-transform: scale(1.5,1.1);
	-moz-transform: scale(1.5,1.1);
}

.deploy .inner {
	position: absolute;
	top: -190px;
	left: 211px;
}

.deploy .inner p {
	padding-left: 370px;
	padding-right: 210px;
	padding-top: 30px;
}

.deploy .inner .ftpwindow {
	font-size: 238px;
	position: absolute;
	left: 100px;
	top: -52px;
}

.deploy.last .cloud {
	position: absolute;
	top: -400px;
	left: 300px;
	font-size: 640px;
	color:#BBB;
}

.deploy.last .smile {
	position: absolute;
	top: -170px;
	left: 460px;
	font-size: 360px;
	color:#099C43;
	opacity:0;
	transition: opacity 1s ease-in-out;
	transition-delay: 1s;
	-moz-transition: opacity 1s ease-in-out;
	-moz-transition-delay: 1s;
	-webkit-transition: opacity 1s ease-in-out;
	-webkit-transition-delay: 1s;
}

.deploy.last.active .smile {
	opacity:1;
}

.deploy.last .smile.frown {
	color:#e9463c;
}

